.app{
   min-width: 300px;
   max-width: 500px;
    /* height: 100vh; */
    margin: 0 auto;
    background-color: antiquewhite;
}
.task-group{
    position: relative;
    width: auto;
    background-color: aqua;
    padding: 10px;
    margin-top: 10px;
    /* text-align: center; */
}
.task-heading{
    background-color: blueviolet;
    padding: 10px;
    font-weight: bold;
}
.add-input{
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
    height: 2em;
}